.prep-head {
    color: #2e4c71;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
}

.prep-time {
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
}

.gray {
    background: #fff;
}
